* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: unset;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Lato',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $darkColor;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  marker: none;
  margin: 0;
  padding: 0;
  color: inherit;
  list-style-type: none;
}
