//colors
$white: #ffffff;
$blue: #42a9ed;
$activeBlue: #43abf0;
$grey: #cccccc;
$black: #000000;
$darkColor: #272733;
$primaryColor: #3e9cdc;
$lightgrey: #6f6d7b;
$darkGrey: #3a3c4c;
$selectBorderColor: #3d4050;
$circleBorderColor: #286690;
